@font-face {
    font-family: "myFont";
    src: url(../fonts/AdventPro/AdventPro_ExtraExpanded-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}


.body {
    font-family: "myFont";
    width: 100vw;
    background-color: rgb(255, 213, 251);
}

.header {
    text-align: center;
    background-color: rgb(225, 181, 255);
    width: 100vw;
}

.header>h1 {
    font-family: "myFont";
    font-size: 50px;
    line-height: 45px;
    font-weight: 500;
}

.header>h2 {
    font-family: "myFont";
    font-size: 30px;
    line-height: 35px;
    font-weight: 300;
}

.task {
    padding-top: 2vw;
    text-align: center;
    width: 90vw;
    padding-left: 5vw;
}

.task>h3 {
    font-family: "myFont";
    font-size: 30px;
    line-height: 35px;
    font-weight: 800;
}

.task>p {
    font-family: "myFont";
    font-size: 25px;
    line-height: 30px;
    font-weight: 200;
}

.p-text {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;


}

.result {
    width: 100%;
    background-color: pink;
    display: grid;
}

.result>h1 {
    font-family: "myFont";
    justify-content: center;

    align-items: center;
    font-size: 35px;
    line-height: 40px;
    font-weight: 800;
}



h1,
h2,
h3,
h4,
h5,
h6,
ul {
    font-family: "myFont", cursive;
    text-align: center;

}

h1,
h2 {
    font-size: 29px;
    line-height: 45px;
    font-weight: 800;
}

ul {
    font-size: 35px;

}

li {
    padding-top: 25px;
}

.card {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 11px 19px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px red, 0 0 100px red, 0 0 150px red, 0 0 200px red;
}

@keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}


@media (max-width: 768px) {
    .header>h1 {
        font-family: "myFont";
        font-size: 30px;
        line-height: 35px;
        font-weight: 500;
    }

    .header>h2 {
        font-family: "myFont";
        font-size: 20px;
        line-height: 35px;
        font-weight: 300;
    }

    .task>h3 {
        font-family: "myFont";
        font-size: 25px;
        line-height: 20px;
        font-weight: 800;
    }

    .task>p {
        font-family: "myFont";
        font-size: 18px;
        line-height: 20px;
        font-weight: 200;
    }

    .p-text {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 25px;


    }

    .result>h1 {
        font-family: "myFont";
        font-size: 25px;
        line-height: 40px;
        font-weight: 800;
    }

    h1,
    h2 {
        font-size: 22px;
        line-height: 30px;
        font-weight: 800;
    }

    ul {
        font-size: 25px;

    }

    li {
        padding-top: 15px;
    }

    .card {
        display: flex;
        justify-content: space-around;
        gap: 15px;
        padding: 11px 19px;
        animation: animate 3s linear infinite;
        text-shadow: 0 0 50px red, 0 0 100px red, 0 0 150px red, 0 0 200px red;
    }
}

@media (max-width: 425px) {
    .header>h1 {
        font-family: "myFont";
        font-size: 25px;
        line-height: 35px;
        font-weight: 500;
    }

    .header>h2 {
        font-family: "myFont";
        font-size: 20px;
        line-height: 35px;
        font-weight: 300;
    }

    .task>h3 {
        font-family: "myFont";
        font-size: 25px;
        line-height: 35px;
        font-weight: 800;
    }

    .task>p {
        font-family: "myFont";
        font-size: 18px;
        line-height: 20px;
        font-weight: 200;
    }

    .p-text {
        text-align: center;
        padding-top: 15px;
        padding-bottom: 25px;


    }

    .result>h1 {
        font-family: "myFont";
        font-size: 25px;
        line-height: 40px;
        font-weight: 800;
    }

    h1,
    h2 {
        font-size: 18px;
        line-height: 25px;
        font-weight: 800;
    }

    ul {
        font-size: 15px;

    }

    li {
        padding-top: 15px;
    }

    .card {
        display: flex;
        justify-content: space-around;
        gap: 10px;
        padding: 11px 19px;
        animation: animate 3s linear infinite;
        text-shadow: 0 0 50px red, 0 0 100px red, 0 0 150px red, 0 0 200px red;
    }
}